body {
    font-family: "Century Gothic";
	background-color: #f0f0f0;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* https://www.w3schools.com/css/css_dropdowns.asp */
.dropbtn {
    position: fixed;
    top: 50px; 
    left: 20px;
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    float: right;
    font-family: "Century Gothic";	
}

.content-container {
    margin-right: 270px;
	margin-left: 270px;
	background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.dropdown {
    position: fixed;
    top: 100px; 
    left: 20px; 
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 100px; 
    left: 20px; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: smaller;
}

footer a {
    color: inherit;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.member {
    display: flex;
    align-items: center;
    margin: 20px;
}

.member img {
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.member-info {
    text-align: left;
}

.member-info h2 {
    margin-top: 0;
}

.member-info p {
    margin-bottom: 0;
}

.img-responsive {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 0.9em !important;
}

h1 {
    text-align: center;
}

/*From previous years website group2*/
/* Scrolling image gallery learnt from: https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp */
div.scrollimagegallery {
    background-color: #333;
    padding: 0px;
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollimagegallery img {
    padding: 10px;
    max-width: 50%;
  }
  /* Editing scrollbar properties learnt from: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
  /* Styling of scrollbar size */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Colour of bar behind scrolling part */
  ::-webkit-scrollbar-track {
    background:#4f4e4e; 
  }
   /* Colour of scrolling part of bar */
  ::-webkit-scrollbar-thumb {
        background: rgb(124, 175, 124); }

        /*Alison used the css from previous semesters group website*/